@import 'partials/reset';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries

// color palette - these colors will be the color swatches of the Colors section

$color-accent: #89010F; // Red - Action color
$color-darkest: #1f110b; // Dark Brown
$color-dark: #412312; // brown
$color-med: #5F3916; // medium brown
$color-light: #C7B299; // light brown


// fonts
$primary-font: 'Didact Gothic', sans-serif;
$display-font: 'Jim Nightshade', cursive;

/* -------------------------------- 

xBackground 

-------------------------------- */

body {
  /* this is the page background */
  background-color: white;
}

/* -------------------------------- 

xPatterns

-------------------------------- */

.cd-box {
  /* this is the container of various design elements - i.e. the 2 logo of the branding section */
  border: 1px solid $color-med;
  border-radius: 3px;
  background: $color-light;
  box-shadow: 0 1px 1px rgba(#000, 0.05);
  padding: 6px;
}

/* -------------------------------- 

xNavigation 

-------------------------------- */

header {
  background-color: white;
}

.cd-logo {
  /* logo box style */
  background-color: white;
  width: 120px;

  @include MQ(M) {
    width: 180px;
  }
}

.cd-main-nav, .cd-primary-nav {
  /* main navigation background color - full screen on small devices */
  background: white;

  li:nth-child(1) {
    background-color: $color-dark;
  }
  li:nth-child(2) {
    background-color: $color-darkest;
  }
  li:nth-child(3) {
    background-color: $color-accent;
  }
  li:nth-child(4) {
    background-color: $color-med;
  }
  li:nth-child(5) {
    background-color: $color-light;
  }
  li:nth-child(6) {
    background-color: $color-darkest;
  }
  li:nth-child(7) {
    background-color: $color-dark;
  }
  li:nth-child(8) {
    background-color: $color-med;
  }
  

  li a {
    color: $color-light;
    border-color: $color-darkest;
  }

  @include MQ(M) {
    li a {
      color: $color-light;

      &.selected {
        color: $color-med;
        box-shadow: 0 2px 0 $color-darkest;
      }

      // Will expand on hover
      // &:hover { 
        
      // }
    }
  }
}


.cd-download {
  /* download button top-right visible on big devices */
  background-color: white;

  .no-touch &:hover {
    background-color: white;
  }

}

/* -------------------------------- 

xPage title 

-------------------------------- */

main > h1 {
  color: $color-darkest;

  @include MQ(L) {
    /* title goes into the header on big devices */
    color: $color-darkest;
  }
}

/* -------------------------------- 

xTypography 

-------------------------------- */

h1,
h2 {
  font-family: $display-font;
  color: $color-accent;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.4em;

  @include MQ(S) {
    font-size: 3.2rem;
  }

  @include MQ(M) {
    font-size: 4rem;
  }
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;

  @include MQ(S) {
    font-size: 1.8rem;
    margin: 1em 0 1.4em;
  }
}

section > h2::before {
  /* number before each section title */
  color: $color-darkest;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: $color-darkest;

  a {
    color: $color-darkest;
    text-decoration: underline;
  }

  @include MQ(S) {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}


/* -------------------------------- 

xIcons 

-------------------------------- */

.cd-icons li {
  /* icons size */
  width: 32px;
  height: 32px;
}



@import 'partials/basic-style';
