/* -------------------------------- 

Colors

-------------------------------- */
$color-accent: #89010F; // Red - Action color
$color-darkest: #1f110b; // Dark Brown
$color-dark: #412312; // brown
$color-med: #5F3916; // medium brown
$color-light: #C7B299; // light brown